.login-card {
    background-color:  #1d1d1d;
    height: max-content;
    width: 1000px;
    padding-bottom: 5%;
    padding-top: 5%;
}

.btnLogin {
    padding-left: 25%;
    padding-right: 25%;
    margin-right: 5px;
    width: 100%;
}

.btnGAuth{
    padding-left: 5%;
    padding-right: 5%;
    float: right;
}

.col-lg{
    margin-left: 5%;
    margin-right: 5%;
}